/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ===========================================
    Variables
============================================== */
:root {
  --color-principal: #0b8bab;
  --color-secundario: #c20d0d;
  --color-bg-principal: #faf3f7;
  --color-separacion: #cecece;
  --color-texto: #131313;
  --color-negro-90: #191919;
  --color-negro-85: #262626;
  --color-negro-70: #4c4c4c;
  --color-negro-55: #737373;
  --color-negro-40: #999;
  --color-negro-25: #bfbfbf;
  --color-negro-10: #e5e5e5;
  --color-negro-5: #f2f2f2;
  --font-principal: "Inter", sans-serif;
  --font-secundaria: "Old Standard TT", serif;
}
/* ===========================================
    Estructura
============================================== */
header {
  padding: 20px 30px;
}
nav {
  padding: 10px 0 15px;
}
.containerBotones {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15px auto;
  width: 95%;
}
main {
  padding: 30px 10px;

}
.imgEtiqueta {
  overflow: hidden;
  margin: 40px 0 30px;
}

.containerImagenes {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15px auto;
  width: 95%;
}
img {
  max-width: 100%;
}
button {
  background-color: var(--color-negro-55);
  padding: 10px 25px;
  color: var(--color-negro-5);
  font-size: 1.1rem;
}
/* ===========================================
    Textos
============================================== */
h1,h2,h3,h4 {
  font-family: var(--font-secundaria);
  font-weight: 400;
}
h1 {
  font-size:2.2rem;
}
h2 {
  font-size:1.8rem;
}
li,p,button {
  font-family: var(--font-principal);
}
p {
  font-size: 1.15rem;
}
/* ===========================================
    Formato
============================================== */
.center {
  text-align: center;
}
.lh-titles {
  line-height: 1.1;
}
.lh-texto {
  line-height: 1.4;
}
.mayusculas {
  text-transform: uppercase;
}
.colorPrincipal {
  color: var(--color-principal);
}
.fondoPrincipal {
  background-color: var(--color-bg-principal);
}
.borderNormal {
  border: 1px solid var(--color-negro-55)
}
.borderBottom1px {
  border-bottom: 1px solid var(--color-separacion)
}
.borderRadius10 {
  border-radius: 10px;
}
.mb20px {
  margin-bottom: 20px;
}
p span {
  font-weight: 800;
}

/* ===========================================
    Responsive 768
============================================== */
@media screen and (min-width:768px) {
  .containerImagenes {
      gap: 20px;
      flex-flow: row wrap;
      justify-content: center;
      width: 95%;
  }
  .containerImagenes img {
    width: calc(50% - 10px);
  }
}/*cierra 768*/

/* ===========================================
    Responsive 990
============================================== */
@media screen and (min-width:990px) {
.containerImagenes img {
    width: calc(33% - 10px);
  }

}/*cierra 990*/


/* ===========================================
    Responsive 1200
============================================== */
@media screen and (min-width:1200px) {


}/*cierra 1200*/